* {
     box-sizing: border-box;
}

$primary-color: #444;
$secondary-color: #4e0189;



body {
     background: $primary-color;
     color: #000;
     height: 100%;
     margin: 0;
     font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     line-height: 1.5;
}

//headings

h1, h2, h3 {
     margin: 0;
     font-weight: 700;

     &.lg-heading {
          font-size: 2rem;
     }

     &.sm-heading {
          margin-bottom: 2rem;
          padding: 0.2rem 1rem;
          background: rbga(lighten($primary-color, 2));
     }
}

a {
     color: #fff;
     text-decoration: none;

}

header {
     position: fixed;
     z-index: 2;
     width: 100%;
}

.text-secondary {
     color: $secondary-color;
}

main {
     padding: 1rem;
     height: 100%;
     width: 100%;

     .icons {
          display: flex;
          justify-content: flex-start;
          i {
               padding: 0rem 0.8rem 0rem 0.8rem;
               &.hover {
                    
               }
          }
     }
}